body {
  background-image: url("https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpZ2h0JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
}
header {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

#photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#photos img {
  max-width: 100%;
  height: auto;
  display: block;
}

.favorite.styled {
  padding: 10px 20px;
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
  display: block;
}

.favorite {
  width: 200px;
  height: 50px;
}
